<div class="cart">
  <h1>Cart</h1>
  <div class="cart__container">
    <app-cart-item
      *ngFor="let item of cart$ | async"
      [title]="item.title"
      [description]="item.description"
      [price]="item.price"
      [quantity]="item.quantity"
      [image]="item.image"
      [category]="item.category"
      [id]="item.id"
      (increaseQuantityInCart)="increaseQuantity($event)"
      (reduceQuantityInCart)="reduceQuantity($event)"
    ></app-cart-item>
  </div>
  <div class="cart__total">
    <p>Total: {{ total | currency }}</p>
    <p>Quantity: {{ totalQuantity }}</p>
    <button mat-raised-button>Checkout</button>
  </div>
</div>
