<div class="product-card">
  <a class="link" [routerLink]="['/products', title]">
    <div class="product-card__image">
      <img [src]="image" alt="product image" />
    </div>
    <div class="product-card__description">
      <p class="product-card__description__title">
        {{ title | productHeadingPipe }}
      </p>
      <div class="product-card__description__bottom">
        <p class="product-card__description__bottom__price">
          <span>{{ price }} $</span>
        </p>
        <button class="add-button" (click)="add()">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </a>
</div>
