<div class="product-card">
  <a class="link" [routerLink]="['/products', title]">
    <div class="product-card__image">
      <img [src]="image" alt="product image" />
    </div>
    <div class="product-card__description">
      <p class="product-card__description__title">
        {{ title | productHeadingPipe }}
      </p>
      <p class="product-card__description__price">
        <span>{{ price }} $</span>
      </p>
    </div>
  </a>
  <button class="add-button" (click)="add()">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</div>
