<div class="top-nav">
  <div class="top-nav__links">
    <a class="top-nav__links__item" routerLink="/">All</a>
    <a class="top-nav__links__item" routerLink="/men's clothing">For Men</a>
    <a class="top-nav__links__item" routerLink="/women's clothing">For Women</a>
    <a class="top-nav__links__item" routerLink="/electronics">Electronics</a>
    <a class="top-nav__links__item" routerLink="/jewelery">Jewelery</a>
  </div>
  <h1 class="top-nav__header">Angular Shoping Cart</h1>
  <div class="top-nav__cart">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" closed>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
