@import 'src/styles.scss';

.product-description-page{
    min-height: 100%;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $primary-text;
    &__container {
        width: 100%;
        display: flex;
        gap: 5rem;
        justify-content: center;
        padding: 7rem 0 0 0;
        &__image{
            width: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__info{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 2rem;
            .title{
                font-size: 2rem;
                line-height: 2.2rem;
                font-weight: 600;
            }
            .description{
                font-size: 1.5rem;
                line-height: 1.75rem;
                font-weight: 400;
            }
            .price{
                font-size: 1.5rem;
                font-weight: 600;
            }
            .category{
                font-size: 1.5rem;
                font-weight: 400;
            }
            .rating{
                font-size: 1.5rem;
                font-weight: 400;
                .stars{
                    transform: translateY(0.2rem);
                }
            }
            button{
                padding: 20px;
            }
        }
    }
    @media  screen and (max-width: $tablet) {
        padding: 2rem;
        margin-bottom: 5rem;
        min-height: auto;
        &__container{
            flex-direction: column;
            gap: 1rem;
            margin-top: 3rem;
            padding: 2rem 0 0 0;
            &__image{
                height: 300px;
                width: 100%;
            }
            &__info{
                width: 100%;
                .title {
                    font-size: 1.25rem;
                    line-height: 1.3rem;
                }
                .description {
                    font-size: 1rem;
                    line-height: 0.875rem;
                }
                .price {
                    font-size: 1rem;
                }
                .category {
                    font-size: 1rem;
                }
                .rating {
                    font-size: 1rem;
                }
                .button-div{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}