@import '../../../styles.scss';

.footer{
    background-color: $secondary-bg;
    color: $primary-text;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}