<div class="cart-item">
  <div class="cart-item__info">
    <span class="name">{{ title }}</span>
    <span class="price">{{ price }} $</span>
    <span class="quantity">Quantity: {{ quantity }}</span>
    <div class="button-group">
      <button mat-icon-button (click)="reduce()">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="remove()">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button (click)="increase()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="cart-item__image-container">
    <img [src]="image" alt="product image" />
  </div>
</div>
