@import 'src/styles.scss';

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text;
    padding: 20px;
    border-bottom: 1px solid #000000;

    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        font-size: 1.2rem;
        .name{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .price{
            font-weight: 300;
        }
        .quantity{
            font-weight: 300;
        }
    }

    &__image-container{
        width: 200px;
        height: 150px;
        border-radius: 5px;
        margin-right: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .button-group{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
        button{
            width: auto;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 300;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: #000000;
                color: $primary-bg;
            }
            .icon{
                margin-left: 10px;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
        button{
            font-size: 1rem;

        }
    }
}