/* You can add global styles to this file, and also import other style files */

$primary-bg: #116A7B;
$secondary-bg: #C2DEDC;
$primary-text: #fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
