/* You can add global styles to this file, and also import other style files */

$primary-bg: #fffffe;
$secondary-bg: #eeee;
$primary-text: #242629;

//screen breakpoints for media queries
$laptop: 1445px;
$tablet: 1000px;
$small-screen: 730px;
$mobile: 650px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
