.products-listing-page {
    min-height: 100%;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__container {
        width: 100%;
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 25px;
    }
}
