<div class="products-listing-page">
  <div class="products-listing-page__container">
    <div *ngIf="(cart$ | async) as cartItems">
      <h2>Cart</h2>
      <ul>
        <li *ngFor="let item of cartItems">
          {{ item.title }}
        </li>
      </ul>
    </div>
    <app-product-card
      *ngFor="let product of products"
      [title]="product.title"
      [price]="product.price"
      [description]="product.description"
      [image]="product.image"
      [id]="product.id"
      (addToCart)="addProductToCart($event)"
    ></app-product-card>
  </div>
</div>
