<div class="products-listing-page">
  <app-filter-block
    (valueChanged)="filterByNameHandler($event)"
    (optionChanged)="filterByOptionHandler($event)"
    style="width: 100%"
  ></app-filter-block>
  <div class="products-listing-page__container">
    <app-product-card
      *ngFor="let product of products"
      [title]="product.title"
      [price]="product.price"
      [description]="product.description"
      [image]="product.image"
      [id]="product.id"
      (addToCart)="addProductToCart($event)"
    ></app-product-card>
  </div>
</div>
